.home-grid {
  /* text-align: center;
  justify-content: center;
  align-items: center; */
  display: flex;
  /* padding-top: 10%; */
  margin: inherit;

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}
