.home-grid {
  /* text-align: center;
  justify-content: center;
  align-items: center; */
  display: flex;
  /* padding-top: 10%; */
  margin: inherit;

}


/* Media query for tablets (768px and up) */
@media (min-width: 768px) {
  /* Tablet styles */
  .home-grid {
    padding-top: 22vh;
  }
}

/* Media query for small laptops/desktops (992px and up) */
@media (min-width: 992px) {
  /* Small laptop/desktop styles */
}

/* Media query for medium laptops/desktops (1200px and up) */
@media (min-width: 1200px) {
  /* Medium laptop/desktop styles */

}

/* Media query for large laptops/desktops (1440px and up) */
@media (min-width: 1440px) {
  /* Large laptop/desktop styles */
}
