/* styles/TypingEffect.css */

@keyframes typing {
  from {
    width: 0;
  }
}

/* .typewriter {
  overflow: hidden;
  border-right: 0.1em solid #333;
  animation: typing 0.1s steps(5, end), blink-caret 1.2s step-end infinite;
  padding-right: 1rem;
} */

.typing-effect {
  overflow: hidden;
  word-wrap: break-word;
}

.subtitle-90 {
  position: absolute;
  top: 36%;
  transform: translateY(-50%) rotate(90deg); /* Rotate the subtitle by 90 degrees */
  color: #5c5c5c;
  font-size: 2.8rem;
  letter-spacing: -3px;
  line-height: 0;
  white-space: nowrap;
  margin: -4rem -2.2rem;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333; /* You can change the color as desired */

  }

}
